<form method="post" action="{{ path('app_orcamento_delete', {'id': orcamento.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ orcamento.id) }}">
    <button class="btn">Delete</button>
</form>
